<p id="notice"><%= notice %></p>
  <strong>Start time:</strong>
  <%= @event.start_time.strftime('%H:%M %p') %>

  <strong>End time:</strong>
  <%= @event.end_time.strftime('%H:%M %p') %>

  <strong>Description:</strong>
  <%= @event.description %>

  <strong>Pooped:</strong>
  <%= @event.pooped %>

  <strong>Comments:</strong>
  <%= @event.comments %>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
